<div class="container">
  <div class="card my-3 shadow">
    <h5 class="card-header"><i class="fa fa-clipboard"></i> Formulário de cadastro de paciente</h5>

    <!-- Formulário Cadastro de Paciente -->
    <form [formGroup]="formularioCadastroPaciente" (submit)="onSubmit()" (reset)="clearAlerts()">
      <div class="card-body">

        <!-- Alerta de Cadastro com Sucesso -->
        <div *ngIf="cadastroComSucesso" class="alert alert-success">
          Paciente cadastrado com sucesso!
          <button type="button" class="close" (click)="clearAlerts()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- Alerta de Falha ao Realizar o Cadastro -->
        <div *ngIf="cadastroComSucesso === false" class="alert alert-danger">
          Falha ao cadastrar paciente.
          <button type="button" class="close" (click)="clearAlerts()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <h5 class="card-title"><i class="fa fa-user"></i> Dados do paciente</h5>
        <div class="row">

          <!-- Campo Nome -->
          <div class="form-group col-lg-6 col-md-8">
            <label
              [ngClass]="(formularioCadastroPaciente.get('nome').touched || formularioCadastroPaciente.get('nome').dirty) && formularioCadastroPaciente.get('nome').invalid ? 'text-danger' : 'custom-text-color'"
              for="nome">Nome *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('nome').touched || formularioCadastroPaciente.get('nome').dirty) && formularioCadastroPaciente.get('nome').invalid}"
              class="form-control" type="text" id="nome" formControlName="nome">
            <div *ngIf="formularioCadastroPaciente.get('nome').touched || formularioCadastroPaciente.get('nome').dirty">
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('nome').hasError('required')">*
                Nome necessário</small>
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('nome').hasError('minlength')">*
                Nome precisa ter, pelo menos, dois caracteres</small>
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('nome').hasError('pattern')">*
                Nome inválido</small>
            </div>
          </div>

          <!-- Campo CPF -->
          <div class="form-group col-lg-3 col-md-4">
            <label
              [ngClass]="(formularioCadastroPaciente.get('cpf').touched || formularioCadastroPaciente.get('cpf').dirty) && formularioCadastroPaciente.get('cpf').invalid ? 'text-danger' : 'custom-text-color'"
              for="cpf">CPF *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('cpf').touched || formularioCadastroPaciente.get('cpf').dirty) && formularioCadastroPaciente.get('cpf').invalid}"
              class="form-control" type="text" id="cpf" formControlName="cpf" mask="000.000.000-00">
            <div *ngIf="formularioCadastroPaciente.get('cpf').touched || formularioCadastroPaciente.get('cpf').dirty">
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('cpf').hasError('required')">*
                CPF necessário</small>
              <small class="text-danger"
                *ngIf="formularioCadastroPaciente.get('cpf').hasError('Mask error') || formularioCadastroPaciente.get('cpf').hasError('cpfNotValid')">*
                CPF inválido</small>
            </div>
          </div>

          <!-- Campo Data de nascimento -->
          <div class="form-group col-lg-3 col-md-4">
            <label
              [ngClass]="(formularioCadastroPaciente.get('dataNascimento').touched || formularioCadastroPaciente.get('dataNascimento').dirty) && formularioCadastroPaciente.get('dataNascimento').invalid ? 'text-danger' : 'custom-text-color'"
              class="custom-text-color" for="dataNascimento">Data de nascimento *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('dataNascimento').touched || formularioCadastroPaciente.get('dataNascimento').dirty) && formularioCadastroPaciente.get('dataNascimento').invalid}"
              class="form-control" type="date" id="dataNascimento" formControlName="dataNascimento">
            <div
              *ngIf="formularioCadastroPaciente.get('dataNascimento').touched || formularioCadastroPaciente.get('dataNascimento').dirty">
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('dataNascimento').hasError('required')">*
                Data de nascimento necessária</small>
              <small class="text-danger"
                *ngIf="formularioCadastroPaciente.get('dataNascimento').hasError('invalidDate')">*
                Data inválida</small>
            </div>
          </div>

          <!-- Campo Se deseja usar nome social -->
          <div class="form-group col-lg-3 col-md-4">
            <label class="mr-3 custom-text-color">Deseja usar nome social?</label>
            <div class="form-check-inline mt-1">
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="seNaoNomeSocial"
                  formControlName="seDesejaUsarNomeSocial" [value]="false" (change)="changeNomeSocialRequiredFiled()"
                  checked>
                <label class="custom-control-label" for="seNaoNomeSocial">Não</label>
              </div>
              <div class="mx-3 custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="seNomeSocial"
                  formControlName="seDesejaUsarNomeSocial" [value]="true" (change)="changeNomeSocialRequiredFiled()">
                <label class="custom-control-label" for="seNomeSocial">Sim</label>
              </div>
            </div>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalTermo">Ver
              decreto</button>
          </div>

          <!-- Campo Nome social -->
          <div class="form-group col-lg-6 col-md-8"
            [hidden]="!formularioCadastroPaciente.get('seDesejaUsarNomeSocial').value">
            <label
              [ngClass]="(formularioCadastroPaciente.get('nomeSocial').touched || formularioCadastroPaciente.get('nomeSocial').dirty) && formularioCadastroPaciente.get('nomeSocial').invalid ? 'text-danger' : 'custom-text-color'"
              class="custom-text-color" for="nomeSocial">Nome social *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('nomeSocial').touched || formularioCadastroPaciente.get('nomeSocial').dirty) && formularioCadastroPaciente.get('nomeSocial').invalid}"
              class="form-control" type="text" id="nomeSocial" formControlName="nomeSocial">
            <div
              *ngIf="formularioCadastroPaciente.get('nomeSocial').touched || formularioCadastroPaciente.get('nomeSocial').dirty">
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('nomeSocial').hasError('required')">*
                Nome social necessário</small>
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('nomeSocial').hasError('minlength')">*
                Nome social precisa ter, pelo menos, dois caracteres</small>
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('nomeSocial').hasError('pattern')">*
                Nome social inválido</small>
            </div>
          </div>

          <!-- Campo Sexo -->
          <div class="form-group col-lg-3 col-md-4">
            <label
              [ngClass]="formularioCadastroPaciente.get('sexo').touched && formularioCadastroPaciente.get('sexo').invalid ? 'text-danger' : 'custom-text-color'"
              class="custom-text-color" for="sexo">Sexo *</label>
            <select
              [ngClass]="{'is-invalid': formularioCadastroPaciente.get('sexo').touched && formularioCadastroPaciente.get('sexo').invalid}"
              class="form-control" id="sexo" formControlName="sexo">
              <option value="">Selecione...</option>
              <option value="MASCULINO">Masculino</option>
              <option value="FEMININO">Feminino</option>
              <option value="NAO_INFORMADO">Não Informado</option>
            </select>
            <div *ngIf="formularioCadastroPaciente.get('sexo').touched">
              <small class="text-danger" *ngIf="formularioCadastroPaciente.get('sexo').hasError('required')">*
                Sexo necessário</small>
            </div>
          </div>

          <!-- Campo Número de prontuário -->
          <div class="form-group col-lg-3 col-md-4">
            <label
              [ngClass]="(formularioCadastroPaciente.get('numeroProntuario').touched || formularioCadastroPaciente.get('numeroProntuario').dirty) && formularioCadastroPaciente.get('numeroProntuario').invalid ? 'text-danger' : 'custom-text-color'"
              class="custom-text-color" for="numeroProntuario">Número de prontuário *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('numeroProntuario').touched || formularioCadastroPaciente.get('numeroProntuario').dirty) && formularioCadastroPaciente.get('numeroProntuario').invalid}"
              class="form-control" type="number" id="numeroProntuario" formControlName="numeroProntuario">
            <div
              *ngIf="formularioCadastroPaciente.get('numeroProntuario').touched || formularioCadastroPaciente.get('numeroProntuario').dirty">
              <small class="text-danger"
                *ngIf="formularioCadastroPaciente.get('numeroProntuario').hasError('required')">*
                Número de prontuário necessário</small>
            </div>
          </div>

        </div>
        <hr>
        <h5 class="card-title"><i class="fa fa-map-marker"></i> Endereço do paciente</h5>

        <!-- Grupo Endereço -->
        <div class="row" formGroupName="endereco">

          <!-- Campo CEP -->
          <div class="form-group col-lg-3 col-md-4">
            <label
              [ngClass]="(formularioCadastroPaciente.get('endereco').get('cep').touched || formularioCadastroPaciente.get('endereco').get('cep').dirty) && formularioCadastroPaciente.get('endereco').get('cep').invalid ? 'text-danger' : 'custom-text-color'"
              class="custom-text-color" for="cep">CEP *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('endereco').get('cep').touched || formularioCadastroPaciente.get('endereco').get('cep').dirty) && formularioCadastroPaciente.get('endereco').get('cep').invalid}"
              class="form-control" type="text" id="cep" formControlName="cep" mask="00000-000">
            <div
              *ngIf="formularioCadastroPaciente.get('endereco').get('cep').touched || formularioCadastroPaciente.get('endereco').get('cep').dirty">
              <small class="text-danger"
                *ngIf="formularioCadastroPaciente.get('endereco').get('cep').hasError('required')">*
                CEP necessário</small>
              <small class="text-danger"
                *ngIf="formularioCadastroPaciente.get('endereco').get('cep').hasError('Mask error')">*
                CEP inválido</small>
            </div>
          </div>

          <!-- Campo Endereço -->
          <div class="form-group col-lg-6 col-md-8">
            <label
              [ngClass]="(formularioCadastroPaciente.get('endereco').get('endereco').touched || formularioCadastroPaciente.get('endereco').get('endereco').dirty) && formularioCadastroPaciente.get('endereco').get('endereco').invalid ? 'text-danger' : 'custom-text-color'"
              class="custom-text-color" for="endereco">Endereço *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('endereco').get('endereco').touched || formularioCadastroPaciente.get('endereco').get('endereco').dirty) && formularioCadastroPaciente.get('endereco').get('endereco').invalid}"
              class="form-control" type="text" id="endereco" formControlName="endereco">
            <div
              *ngIf="formularioCadastroPaciente.get('endereco').get('endereco').touched || formularioCadastroPaciente.get('endereco').get('endereco').dirty">
              <small class="text-danger"
                *ngIf="formularioCadastroPaciente.get('endereco').get('endereco').hasError('required')">*
                Endereço necessário</small>
            </div>
          </div>

          <!-- Campo Número -->
          <div class="form-group col-lg-3 col-md-4">
            <label
              [ngClass]="(formularioCadastroPaciente.get('endereco').get('numero').touched || formularioCadastroPaciente.get('endereco').get('numero').dirty) && formularioCadastroPaciente.get('endereco').get('numero').invalid ? 'text-danger' : 'custom-text-color'"
              class="custom-text-color" for="numero">Número *</label>
            <input
              [ngClass]="{'is-invalid': (formularioCadastroPaciente.get('endereco').get('numero').touched || formularioCadastroPaciente.get('endereco').get('numero').dirty) && formularioCadastroPaciente.get('endereco').get('numero').invalid}"
              class="form-control" type="number" id="numero" formControlName="numero">
            <div
              *ngIf="formularioCadastroPaciente.get('endereco').get('numero').touched || formularioCadastroPaciente.get('endereco').get('numero').dirty">
              <small class="text-danger"
                *ngIf="formularioCadastroPaciente.get('endereco').get('numero').hasError('required')">*
                Número necessário</small>
            </div>
          </div>

          <!-- Campo Complemento -->
          <div class="form-group col-lg-3 col-md-4">
            <label class="custom-text-color" for="complemento">Complemento</label>
            <input class="form-control" type="text" id="complemento" formControlName="complemento">
          </div>

        </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <div *ngIf="loading" class="spinner-border mr-3" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <button class="btn btn-warning" type="reset" [disabled]="loading">Limpar <i class="fa fa-eraser"></i></button>
        <button class="btn btn-success ml-3" type="submit" [disabled]="loading">Cadastrar <i
            class="fa fa-user-plus"></i></button>
      </div>
    </form>
  </div>
</div>

<!-- Modal do Termo -->
<div class="modal fade bd-example-modal-lg" id="modalTermo" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content"
      style="font-family: Menlo, DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New, andale mono, lucida console, monospace;">
      <div class="modal-header">
        <h5 class="modal-title">DECRETO Nº 8.727, DE 28 DE ABRIL DE 2016</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Dispõe sobre o uso do nome social e o reconhecimento da identidade de gênero de pessoas travestis e
          transexuais
          no
          âmbito da administração pública federal direta, autárquica e fundacional.</p>

        <p>A PRESIDENTA DA REPÚBLICA, no uso da atribuição que lhe confere o art. 84, caput, inciso VI, alínea "a", da
          Constituição, e tendo em vista o disposto no art. 1º, caput, inciso III, no art. 3º, caput, inciso IV; e no
          art.
          5º, caput, da Constituição,</p>

        <p>DECRETA:</p>

        <p>Art. 1º Este Decreto dispõe sobre o uso do nome social e o reconhecimento da identidade de gênero de pessoas
          travestis ou transexuais no âmbito da administração pública federal direta, autárquica e fundacional.</p>

        <p>Parágrafo único. Para os fins deste Decreto, considera-se:</p>

        <p>I - nome social - designação pela qual a pessoa travesti ou transexual se identifica e é socialmente
          reconhecida;
          e</p>

        <p>II - identidade de gênero - dimensão da identidade de uma pessoa que diz respeito à forma como se relaciona
          com
          as
          representações de masculinidade e feminilidade e como isso se traduz em sua prática social, sem guardar
          relação
          necessária com o sexo atribuído no nascimento.</p>

        <p>Art. 2º Os órgãos e as entidades da administração pública federal direta, autárquica e fundacional, em seus
          atos e
          procedimentos, deverão adotar o nome social da pessoa travesti ou transexual, de acordo com seu requerimento e
          com
          o disposto neste Decreto.</p>

        <p>Parágrafo único. É vedado o uso de expressões pejorativas e discriminatórias para referir-se a pessoas
          travestis
          ou transexuais.</p>

        <p>Art. 3º Os registros dos sistemas de informação, de cadastros, de programas, de serviços, de fichas, de
          formulários, de prontuários e congêneres dos órgãos e das entidades da administração pública federal direta,
          autárquica e fundacional deverão conter o campo "nome social" em destaque, acompanhado do nome civil, que será
          utilizado apenas para fins administrativos internos.</p>

        <p>Art. 4º Constará nos documentos oficiais o nome social da pessoa travesti ou transexual, se requerido
          expressamente pelo interessado, acompanhado do nome civil.</p>

        <p>Art. 5º O órgão ou a entidade da administração pública federal direta, autárquica e fundacional poderá
          empregar
          o
          nome civil da pessoa travesti ou transexual, acompanhado do nome social, apenas quando estritamente necessário
          ao
          atendimento do interesse público e à salvaguarda de direitos de terceiros.</p>

        <p>Art. 6º A pessoa travesti ou transexual poderá requerer, a qualquer tempo, a inclusão de seu nome social em
          documentos oficiais e nos registros dos sistemas de informação, de cadastros, de programas, de serviços, de
          fichas, de formulários, de prontuários e congêneres dos órgãos e das entidades da administração pública
          federal
          direta, autárquica e fundacional.</p>

        <p>Art. 7º Este Decreto entra em vigor:</p>

        <p>I - um ano após a data de sua publicação, quanto ao art. 3º; e</p>

        <p>II - na data de sua publicação, quanto aos demais dispositivos.</p>

        <p>Brasília, 28 de abril de 2016; 195º da Independência e 128º da República.</p>

        <p>DILMA ROUSSEFF
          Nilma Lino Gomes</p>


        <p>Este texto não substitui o original publicado no Diário Oficial da União - Seção 1 de 29/04/2016</p>


        <p>Publicação:
          Diário Oficial da União - Seção 1 - 29/4/2016, Página 1 (Publicação Original)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal da Declaração -->
<div class="modal fade" id="modalDeclaracao" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Declaração</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Declaro que o paciente deseja fazer o uso do nome social
        durante sua permanência na unidade de saúde,
        em seus atos e procedimentos, conforme disposto
        no Decreto nº 8.727, de 28 de abril de 2016.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>